body {
    background-color: black;
    position: relative;
}

.main-content {
    display: flex;
    justify-content: center;
    z-index: 1;
}

.sub-content {
    width: 110%;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 80%;
    left: -5%;
    z-index: 2;
}

.home-var {
    position: absolute;
    top: 40%; /* sub-content 내부에서 겹치게 배치 */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3; /* desktop 위로 배치 */
    color: white;
    display: flex;
    gap: 10px;
}

.home-var svg {
    margin-top: 20px; /* 원하는 만큼 아래로 이동 */
    width: 70px; /* SVG 크기 조정 */
    height: auto;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* 아이콘과 이미지 사이 간격 */
}

.center-img {
    width: 330px; /* 이미지 크기 조정 */
    height: auto;
}

.bi {
    font-size: 50px; /* 아이콘 크기 */
    cursor: pointer;
}

#home{
    display: inline-block;
    width: 70px; /* SVG의 크기만큼 크기 설정 */
    height: 70px; /* SVG의 크기만큼 높이 설정 */
    margin-right: 100px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

#download svg{
    margin-top: 40px;
    margin-left: 60px;
    width: 120px;
}
