* {
    margin: 0;
    padding: 0;
}

/* 전체 페이지 배경을 검정색으로 설정 */
body {
    background-color: black;
}
.main-content {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.main-content img {
    width: 40%;
}

.sub-content {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 60%; /* 원하는 위치로 조정 가능 */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.sub-content img {
    width: 90%;
}

.sub-content-var img {
    width: 50%; 
}

.sub-content-var {
    position: absolute;
    top: 81%;
    width: 134%; 
    display: flex;
    justify-content: center;
}

