* {
    margin: 0;
    padding: 0;
}

/* 전체 페이지 배경을 검정색으로 설정 */
body {
    background-color: black;
}

.nct-logo {
    position: relative; /* 기준점 설정 */
    z-index: 1; /* 로고가 더 뒤에 위치하도록 설정 */
    display: flex;
    justify-content: center;
}

.desktop-img {
    position: absolute; /* 절대 위치로 설정 */
    top: 30%; /* 로고와 같은 위치에 배치 */
    left: 50%; /* 부모 요소의 가로 중앙에 위치 */
    transform: translateX(-50%); /* 이미지의 중심을 왼쪽으로 이동하여 정중앙에 맞춤 */
    z-index: 2; /* 로고 위에 오도록 설정 */
}


